body {
  background-color: grey;
}

h1 {
  color: green;
  text-align: center;
}
h2 {
  border: 1px solid red;
  outline: 5px dotted green;
}
img{
  border-radius: 50%;
}

p {
  font-family: verdana;
  font-size: 20px;
}

a:hover {
  background-color: yellow;
}
.container {  display: grid;
  grid-template-columns: 0.9fr 1.1fr 1fr;
  grid-template-rows: 0.7fr 1.6fr 0.7fr;
  gap: 15px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header Header Header"
    "Nav Main Main"
    "Footer Footer Footer";
}

.Header { grid-area: Header; 
        background-color: lightseagreen;
        }

.Nav { grid-area: Nav; 
     background-color: lightpink;}

.Main { grid-area: Main; 
      background-color: lightgreen;}

.Footer { grid-area: Footer; 
        background-color: lightsteelblue;}



table, th, td {
  border: 1px solid black;
  background: lightgoldenrodyellow;
  font-family: sans-serif;
    font-size: 1.5em;
}
th{
  background: black;
  color:white;
}
li { background: lightcoral; 
      
   }
li:nth-child(odd) { background: lightblue; }
hr { background: black; }

ul{ background: lightgreen}
ol{ background: lightcyan}