body {
  background-color: grey;
}

h1 {
  color: green;
  text-align: center;
}
h2 {
  border: 1px solid red;
  outline: 5px dotted green;
}
img{
  border-radius: 50%;
}

p {
  font-family: verdana;
  font-size: 20px;
}

ul {
  list-style-type: none; /* Remove bullets */
}
.upperlevel li{
    list-style-type: upper-roman;
  
}
.lowerlevel li{
  list-style-type: lower-roman;
}
.lowerlevel li:nth-child(even){
  background: #CCC
}
.lowerlevel li:nth-child(odd){
  background: #FFF
}

a:hover {
  background-color: yellow;
  text-decoration: none;
}





.container {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 0.8fr 1.4fr 0.8fr; 
  gap: 15px;
  grid-template-areas: 
    "Header Header Header"
    "Nav Main Aside"
    "Footer Footer Footer"; 
}



.Header { grid-area: Header; 
        background-color: lightseagreen;
        }

.Nav { grid-area: Nav; 
     background-color: lightpink;}

.Main { grid-area: Main; 
      background-color: lightgreen;}

.Aside { grid-area: Aside; 
        background-color: #f792e9;}

.Footer { grid-area: Footer; 
        background-color: lightsteelblue;}


@media only screen and (max-width: 320px) { 
  body {
  background-color: #f50000;
  }
  
.container {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "Header Header Header"
    "Nav Nav Nav"
    "Main Main Main"
    "Aside Aside Aside"
    "Footer Footer Footer"; 
}

    iframe {
        max-width: 100% !important;
        width: auto !important;
        height: auto !important;
    }
}



.page2table table, th, td {
  border: 1px solid black;
  background: lightsteelblue;
  font-family: sans-serif;
    font-size: 1.5em;
  color:white;

}
.page2table li:nth-child(odd){
    background: lightblue;
  }
.page2table li:nth-child(even){
    background: lightcoral;
  }



